@import "variables";

.silc-offcanvas {

	.js & {
		position: $silc-offcanvas-position;
		width: $silc-offcanvas-width;
		height: $silc-offcanvas-height;
		right: $silc-offcanvas-right;
		top: $silc-offcanvas-top;
		transform: $silc-offcanvas-transform;
		background: $silc-offcanvas-background;
		transition: $silc-offcanvas-transition;
		box-sizing: border-box;

		&--left {
			transform: $silc-offcanvas--left-transform;
		}

		&--top {
			transform: $silc-offcanvas--top-transform;
		}

		&--bottom {
			transform: $silc-offcanvas--bottom-transform;
		}

		&--visible {
			transform: $silc-offcanvas--visible-transform;
		}

		@media (min-width:$silc-offcanvas--visible) {
			position: $silc-offcanvas--visible-position;
			transform: $silc-offcanvas--visible-transform;
			width: $silc-offcanvas--visible-width;
		}
	}
}

.silc-offcanvas__inner {
	position: $silc-offcanvas--inner-position;
	top: $silc-offcanvas--inner-top;
	right: $silc-offcanvas--inner-right;
	bottom: $silc-offcanvas--inner-bottom;
	left: $silc-offcanvas--inner-left;
	width: $silc-offcanvas--inner-width;
	height: $silc-offcanvas--inner-height;
	max-width: $silc-offcanvas--inner-max-width;
	max-height: $silc-offcanvas--inner-max-height;
	padding: $silc-offcanvas--inner-padding;
	background: $silc-offcanvas--inner-background;
	transform: $silc-offcanvas--inner-transform;
	box-sizing: border-box;
}

.silc-offcanvas__trigger {
	display: none;

	.js & {
		display: block;
	}

	@media (min-width:$silc-offcanvas__trigger--hidden) {

		.js & {
			display: none;
		}

		&--modal {

			.js & {
				display: block;
			}
		}
	}
}

.silc-offcanvas--modal {

	.js & {
		position: $silc-offcanvas--modal-position;
		padding: $silc-offcanvas--modal-padding;
		opacity: $silc-offcanvas--modal-opacity;
		transition: $silc-offcanvas--modal-transition;
		background: $silc-offcanvas--modal-background;
	}

	&.silc-offcanvas--visible {
		opacity: $silc-offcanvas--modal-visible-opacity;
	}
	
}

@media (min-width:$silc-offcanvas--visible) {

	.silc-offcanvas--modal {

		.js & {
			position: fixed;
			transform: $silc-offcanvas--modal-transform;
		}

		&.silc-offcanvas--visible {
			transform: none;
		}
	}
}
