@import "variables";

.silk-offcanvas {

	.js & {
		position: $silk-offcanvas-position;
		width: $silk-offcanvas-width;
		height: $silk-offcanvas-height;
		right: $silk-offcanvas-right;
		top: $silk-offcanvas-top;
		transform: $silk-offcanvas-transform;
		opacity: $silk-offcanvas-opacity;
		background: $silk-offcanvas-background;
		transition: $silk-offcanvas-transition;
		box-sizing: border-box;
	}
}

.silk-offcanvas--left {
	transform: $silk-offcanvas--left-transform;
}

.silk-offcanvas--top {
	transform: $silk-offcanvas--top-transform;
}

.silk-offcanvas--bottom {
	transform: $silk-offcanvas--bottom-transform;
}

.silk-offcanvas--visible {

	.js & {
		opacity: $silk-offcanvas--visible-opacity;
		transform: $silk-offcanvas--visible-transform;
	}
}

.silk-offcanvas__trigger {
	display: none;

	.js & {
		display: block;
	}
}

.silk-offcanvas--modal {

	.js & {
		background:rgba(0,0,0,.75);
		padding: 1em;
		transition: none;

		.silk-offcanvas__inner {
			width: 100%;
			height: 100%;
			padding: 1em;
			background: #fff;
			box-sizing: border-box;
			transform: scale(0);
			transition: transform .5s ease-out;
		}
	}

	&.silk-offcanvas--visible {

		.silk-offcanvas__inner {
			transform: scale(1);
		}
	}
	
}

@media (min-width:$silk-offcanvas__trigger--hidden) {

	.silk-offcanvas__trigger {

		.js & {
			display: none;
		}
	}

	.silk-offcanvas__trigger--modal {
		.js & {
			display: block;
		}
	}
}

@media (min-width:$silk-offcanvas--visible) {

	.silk-offcanvas {

		.js & {
			position: $silk-offcanvas--visible-position;
			opacity: $silk-offcanvas--visible-opacity;
			transform: $silk-offcanvas--visible-transform;
			width: $silk-offcanvas--visible-width;
		}
	}

	.silk-offcanvas--modal {

		.js & {
			position: fixed;
			transform: $silk-offcanvas--modal-transform;
		}
	}
}
